<div class="only_us" style="margin-bottom: 20px;">
    <p class="gift_head_top">
    <label for="giftWrapOption" id="giftWrapHead">
        <b>Gift Wrap My Item For $<span id="gift_product_price"></span></b>
    </label>
    <input type="checkbox" id="giftWrapOption" class="coupon_question" name="coupon_question" value="1" style=" margin-left: 10px; " />

    <span class="info_msg info_msg_hidden">
        Please check the box to add Gift Wrap with your product.
    </span>
    </p>
    <!-- <p style="margin-top: -27px;">
    <small>
    <i>( We\'ll add a complimentary custom note card too. )</i>
    </small>
    </p> -->
</div>
<script>
    var pro_id =  '{{product.id}}';
</script>