.Polaris-ButtonGroup {
    justify-content: end;
}

.chart_container {
    height: 250px;
}
.chart_container ._ChartContainer_1mpes_144 {
    padding: 10px 0 !important;
}
.chart_container .ChartContainer-ChartContainer_1EjXP {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,"San Francisco","Segoe UI",Roboto,"Helvetica Neue",sans-serif;
    font-size: 12px;
}
.chart_container ._Chart_qgx6z_1 {
    display: flex;
    flex-direction: column;
    position: relative;
}
.chart_container svg{
    max-width: 100%;
    padding: 0;
}
.chart_container ._Container_2fp3n_1 {
    position: absolute;
    pointer-events: none;
    max-width: 70%;
}
.chart_container ._Container_3h6ct_1{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}